

<div class="container">
    <div class="row row-flex">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <div class="price-table pt-bg-black">
                <div>
                    <span>feedback</span>
                    <span>srinathsachi@gmil.com</span>
                    
                </div>
                <ul>
                    <li>this is a better</li>
                    <li>note saving app</li>
                    <li>i have seen</li>
                    <li>On Page SEO</li>
                    <li>24/6 Support</li>
                </ul>
                <a href="#">Reply</a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <div class="price-table pt-bg-green">
                <div>
                    <span>feedback</span>
                    <span>srinath123@gmil.com</span>
                    
                </div>
                <ul>
                    <li>this is a better</li>
                    <li>note saving app</li>
                    <li>i have seen</li>
                    <li>can you develope it</li>
                    <li>further</li>
                </ul>
                <a href="#">Reply</a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <div class="price-table pt-bg-red">
                <div>
                    <span>feedback</span>
                    <span>srinathsachi@gmil.com</span>
                    
                </div>
                <ul>
                    <li>this is a better</li>
                    <li>note saving app</li>
                    <li>i have seen</li>
                    <li>On Page SEO</li>
                    <li>24/6 Support</li>
                </ul>
                <a href="#">Reply</a>
            </div>
        </div>
     
    </div>
</div>