
<div class= "col-md-12">
<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped custab">
    <thead>
   
        <tr>
            <th>ID</th>
            <th>User Email</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
            <tr *ngFor= "let user of users" >
                <td>{{user.userId}}</td>
               
                <td>{{user.email}}</td>
                <td class="text-center"><a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
            </tr>
           
    </table>
    </div>
</div>
</div>