


<div class="container">
    <div class="row">
      <div class="col">
            <div class="card1" style="width: 18rem;">
                    <img class="card-img-top" src="../../../../../assets/images/image1.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Kodiak Users</h5>
                      <p class="card-text">25 Users!</p>
                      <a href="#" class="btn btn-primary">Look</a>
                    </div>
                  </div>
      </div>
      <div class="col">
            <div class="card2" style="width: 18rem;">
                    <img class="card-img-top" src="../../../../../assets/images/image2.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">FeedBacks</h5>
                      <p class="card-text">100 Feedbacks</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
      </div>
    </div>
</div>


  
  