<!-- <div class="area"></div> -->
<nav class="main-menu">
  <ul>
    <li>
      <a routerLink="dashboard">
        <i class="fa fa-laptop fa-2x"></i>
        <span class="nav-text">
          Dashboard
        </span>
      </a>
    </li>
    <li>
      <a routerLink="note">
        <i class="fa fa-plus-circle fa-2x"></i>
        <span class="nav-text">
          New Note
        </span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-smile-o fa-2x"></i>
        <span class="nav-text">
          Feedbacks
        </span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-thumbs-o-up fa-2x"></i>
        <span class="nav-text">
          Credits
        </span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-info fa-2x"></i>
        <span class="nav-text">
          About
        </span>
      </a>
    </li>
  </ul>

  <ul class="logout">
    <li>
      <a routerLink="/" class="text-warning">
        <i class="fa fa-power-off fa-2x"></i>
        <span class="nav-text">
          Logout
        </span>
      </a>
    </li>
  </ul>
</nav>
