<!-- <div class="row note-area">
  <div class="col-6 col-md-4">
    <div class="list-group">
      <a
        href="#"
        class="list-group-item list-group-item-action flex-column align-items-start active"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Note Title</h5>
          <small>3 days ago</small>
        </div>
        <p class="mb-1">
          Donec id elit non mi porta gravida at eget metus. Maecenas sed diam
          eget risus varius blandit.
        </p>
        <small>Donec id elit non mi porta.</small>
      </a>
      <a
        href="#"
        class="list-group-item list-group-item-action flex-column align-items-start"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Note Title</h5>
          <small class="text-muted">3 days ago</small>
        </div>
        <p class="mb-1">
          Donec id elit non mi porta gravida at eget metus. Maecenas sed diam
          eget risus varius blandit.
        </p>
        <small class="text-muted">Donec id elit non mi porta.</small>
      </a>
      <a
        href="#"
        class="list-group-item list-group-item-action flex-column align-items-start"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Note Title</h5>
          <small class="text-muted">3 days ago</small>
        </div>
        <p class="mb-1">
          Donec id elit non mi porta gravida at eget metus. Maecenas sed diam
          eget risus varius blandit.
        </p>
        <small class="text-muted">Donec id elit non mi porta.</small>
      </a>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-8">
      <app-note-editor></app-note-editor>
  </div>
</div> -->

<div class="container">
  <app-note-editor></app-note-editor>
</div>
