<div class="container">
  <h3 class="dashboard-title">My Notes</h3>
  <div class="example-boundary">
    <div *ngIf="!(noteData.length > 0)" class="emptyNotediv">
      <mat-card class="emptyNoteCard">
        <mat-card-header>
          <mat-card-title>
            <p class="font-weight-light">
              You have not created any notes!
            </p>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <button mat-stroked-button [routerLink]="['/note']">
            <i class="fa fa-plus-circle"></i> New Note
          </button>
        </mat-card-content>
      </mat-card>
    </div>
    <div *ngIf="(noteData.length > 0)">
      <!-- <mat-grid-list cols="2" rowHeight="1:2"> -->
        <div
          *ngFor="let note of noteData"
          cdkDragBoundary=".example-boundary"
        >
          <div class="example-box mr-3 mb-2" cdkDrag>
            <mat-card class="card">
              <mat-card-header>
                <mat-card-title>
                  <div class="d-flex">
                    <div class="ml-auto p-2">{{ note.title }}</div>
                    <div class="p-2">
                      <a [routerLink]="['/edit', note.id]"><i class="fa fa-edit text-info"></i></a>
                    </div>
                    <div
                      class="p-2"
                      style="cursor: pointer"
                      (click)="deleteDialog(note.id)"
                    >
                      <i class="fa fa-trash-o text-danger"></i>
                    </div>
                  </div>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content [innerHTML]="note.note"></mat-card-content>
            </mat-card>
          </div>
        </div>
      <!-- </mat-grid-list> -->
    </div>
  </div>
</div>
